# Parado por enquanto
#### foco geral nos cálculos a base de IA

# Criando a lista com todos os bancos criados até o momento
### Módulo requer acompanhamento constante

In [1]:
lista_bancos = ['TESTE','LOTOMANIA','LOTOMANIA1','LOTOMANIA1_1','LOTOMANIA1_2','LOTOMANIA1_2','LOTOMANIA1_3','LOTOMANIA1_4',
                'LOTOMANIA1_5','LOTOMANIA1_6','LOTOMANIA1_7','LOTOMANIA1_8','LOTOMANIA1_9','LOTOMANIA1_10',
                'LOTOMANIA1_11','LOTOMANIA1_12','LOTOMANIA1_13','LOTOMANIA1_14','LOTOMANIA1_15'
                ,'LOTOMANIA16','LOTOMANIA17','LOTOMANIA18','LOTOMANIA19','LOTOMANIA20','LOTOMANIA21',
                'LOTOMANIA22','LOTOMANIA23','LOTOMANIA24','LOTOMANIA25','LOTOMANIA26','LOTOMANIA27','LOTOMANIA28'
               ,'LOTOMANIA29','LOTOMANIA30','LOTOMANIA31','LOTOMANIA32','LOTOMANIA33','LOTOMANIA34','LOTOMANIA35'
                ,'LOTOMANIA36','LOTOMANIA37','LOTOMANIA38','LOTOMANIA39','LOTOMANIA40','LOTOMANIA41'
                ,'LOTOMANIA42','LOTOMANIA43','LOTOMANIA44','LOTOMANIA45','LOTOMANIA46','LOTOMANIA47'
                ,'LOTOMANIA48','LOTOMANIA49','LOTOMANIA50','LOTOMANIA51','LOTOMANIA52','LOTOMANIA53'
                ,'LOTOMANIA54','LOTOMANIA55','LOTOMANIA56','LOTOMANIA57','LOTOMANIA58','LOTOMANIA59'
                ,'LOTOMANIA60','LOTOMANIA61','LOTOMANIA62','LOTOMANIA63','LOTOMANIA64','LOTOMANIA65'
                ,'LOTOMANIA66','LOTOMANIA67','LOTOMANIA150'
               ,'LOTOMANIA151','LOTOMANIA152','LOTOMANIA153','LOTOMANIA154','LOTOMANIA155','LOTOMANIA156'
               ,'LOTOMANIA157','LOTOMANIA158','LOTOMANIA159','LOTOMANIA160','LOTOMANIA161','LOTOMANIA162'
                ,'LOTOMANIA163','LOTOMANIA164','LOTOMANIA165','LOTOMANIA166','LOTOMANIA167','LOTOMANIA168'
               ,'LOTOMANIA169','LOTOMANIA170','LOTOMANIA171','LOTOMANIA172','LOTOMANIA173','LOTOMANIA174'
                ,'LOTOMANIA175','LOTOMANIA176','LOTOMANIA177','LOTOMANIA178','LOTOMANIA179','LOTOMANIA180'
                ,'LOTOMANIA181','LOTOMANIA182','LOTOMANIA183','LOTOMANIA184','LOTOMANIA185','LOTOMANIA186'
               ,'LOTOMANIA300','LOTOMANIA301','LOTOMANIA302','LOTOMANIA303','LOTOMANIA304','LOTOMANIA305'
                ,'LOTOMANIA306','LOTOMANIA307','LOTOMANIA308','LOTOMANIA309','LOTOMANIA310','LOTOMANIA311'
                ,'LOTOMANIA312','LOTOMANIA313','LOTOMANIA314','LOTOMANIA315','LOTOMANIA316','LOTOMANIA317'
                ,'LOTOMANIA318','LOTOMANIA319','LOTOMANIA320','LOTOMANIA321','LOTOMANIA322','LOTOMANIA323'
                ,'LOTOMANIA324','LOTOMANIA325','LOTOMANIA326','LOTOMANIA327','LOTOMANIA328','LOTOMANIA329'
                ,'LOTOMANIA330','LOTOMANIA331','LOTOMANIA332','LOTOMANIA333','LOTOMANIA334','LOTOMANIA335'
               ,'LOTOMANIA336','LOTOMANIA361','LOTOMANIA362','LOTOMANIA363','LOTOMANIA364','LOTOMANIA365'
                ,'LOTOMANIA366','LOTOMANIA367','LOTOMANIA368','LOTOMANIA369','LOTOMANIA370','LOTOMANIA371'
                ,'LOTOMANIA372','LOTOMANIA373','LOTOMANIA374','LOTOMANIA375','LOTOMANIA376','LOTOMANIA377'
                ,'LOTOMANIA378','LOTOMANIA379','LOTOMANIA380','LOTOMANIA381','LOTOMANIA382','LOTOMANIA384'
                ,'LOTOMANIA385','LOTOMANIA386','LOTOMANIA387','LOTOMANIA388','LOTOMANIA389','LOTOMANIA390'
                ,'LOTOMANIA391','LOTOMANIA392','LOTOMANIA393','LOTOMANIA394','LOTOMANIA395','LOTOMANIA396'
                ,'LOTOMANIA397','LOTOMANIA398','LOTOMANIA399'
                ,'LOTOMANIA420','LOTOMANIA421','LOTOMANIA422','LOTOMANIA423','LOTOMANIA424'
                ,'LOTOMANIA425','LOTOMANIA426','LOTOMANIA427','LOTOMANIA429','LOTOMANIA429','LOTOMANIA430'
                ,'LOTOMANIA431','LOTOMANIA432','LOTOMANIA433','LOTOMANIA434','LOTOMANIA435'
                ,'LOTOMANIA440','LOTOMANIA441','LOTOMANIA442','LOTOMANIA443','LOTOMANIA444','LOTOMANIA445'
                ,'LOTOMANIA446','LOTOMANIA447','LOTOMANIA448','LOTOMANIA449','LOTOMANIA450','LOTOMANIA451'
                ,'LOTOMANIA452','LOTOMANIA453','LOTOMANIA454','LOTOMANIA455']

In [2]:
print(lista_bancos[180])
print(len(lista_bancos))

LOTOMANIA397
215

# Conexão com os bancos de dados
### Módulo finalizado

In [11]:
#def Conexao_sql():
import pyodbc
import pandas as pd
server = 'DESKTOP-BAGV6SU\SQLEXPRESS01' 
database = 'TESTE' 
username = '' 
password = '' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
print("foi")

foi

# Busca dos dados na Web com Selenium
### Módulo finalizado

In [2]:
# importação
import time
from selenium import webdriver
#argumento de ocultação
    #chrome_options = webdriver.ChromeOpitions()
    #chrome_options.add_argument('headless')
# driver de funcionamento do navegador
driver = webdriver.Chrome()
# nome do site
driver.get("http://loterias.caixa.gov.br/wps/portal/loterias/landing/lotomania/")
# print(driver.title)
sorteado = []
i = 1
concurso = driver.find_element_by_xpath('//*[@id="conteudoresultado"]/div[1]/div/h2/span').text
concurso = (concurso[:8] + "_" + concurso[9:13] + "_" + concurso[15:17] + '_' + concurso[18:20] + '_' + concurso[21:25])
xpath = '//*[@id="conteudoresultado"]/div[2]/div/div/div[1]/ul/li[{numero}]'
for i in range(20):
    num_resultado = driver.find_element_by_xpath(xpath.format(numero = i + 1))
    numero = num_resultado.text
    numero = int(numero)
    sorteado.append(numero)

# Inserindo o ultimo resultado na base de dados
### Modulo finalizado

In [39]:
def Insere_Resultado_Recente():  
    i = 0
    for i in range(len(lista_bancos)):
        cursor = cnxn.cursor()
        cursor.execute(f'use {lista_bancos[i]}')
        cursor.execute(f'''INSERT INTO RESULTADOS_ANTERIORES$ (NUMERO1,NUMERO2,NUMERO3,NUMERO4,NUMERO5,
        NUMERO6,NUMERO7,NUMERO8,NUMERO9,NUMERO10,NUMERO11,NUMERO12,NUMERO13,NUMERO14,NUMERO15,NUMERO16,
        NUMERO17,NUMERO18,NUMERO19,NUMERO20) values ({sorteado[0]},{sorteado[1]},{sorteado[2]},
        {sorteado[3]},{sorteado[4]},{sorteado[5]},{sorteado[6]},{sorteado[7]},{sorteado[8]},
        {sorteado[9]},{sorteado[10]},{sorteado[11]},{sorteado[12]},{sorteado[13]},{sorteado[14]},
        {sorteado[15]},{sorteado[16]},{sorteado[17]},{sorteado[18]},{sorteado[19]})''')
        cnxn.commit()
        cursor.close()

# Testando os bancos com bons resultados  de análise 
### Em andamento

In [12]:
from collections import OrderedDict
import pyautogui 
import time
pyautogui.PAUSE = 1
pyautogui.press('winleft') 
pyautogui.write('MICROSOFT SQL') 
pyautogui.press('enter') 
time.sleep(30)
pyautogui.press('enter')
pyautogui.moveTo(285,67) 
pyautogui.click()
time.sleep(0.2)
pyautogui.write('USE TESTE EXECUTE JOGOS_FINAIS') 
time.sleep(1)
pyautogui.press('f5') 
pontos_bancos = pd.read_sql('SELECT * FROM MENORES_JOGOS', cnxn)
pontos_bancos = pontos_bancos.to_dict()
pontos_bancos = list(pontos_bancos.values())
jogo1 = pontos_bancos[1][0]
jogo2 = pontos_bancos[2][0]
jogo3 = pontos_bancos[3][0]
qt_jogo1 = pontos_bancos[1][1]
qt_jogo2 = pontos_bancos[2][1]
qt_jogo3 = pontos_bancos[3][1]

bancos_testaveis1 = pd.read_sql(f'SELECT ID_QUANTIDADE_JOGOS FROM PONTUACAO_BANCOS WHERE JOGO1 = {jogo1}',cnxn)
bancos_testaveis1 = bancos_testaveis1.to_dict()
bancos_testaveis1 = list(bancos_testaveis1.values())

i = 0
bancos_finais = []
for i in range(qt_jogo1):
    bancos_finais.append(bancos_testaveis1[0][i])
    
bancos_testaveis2 = pd.read_sql(f'SELECT ID_QUANTIDADE_JOGOS FROM PONTUACAO_BANCOS WHERE JOGO2 = {jogo2}',cnxn)
bancos_testaveis2 = bancos_testaveis2.to_dict()
bancos_testaveis2= list(bancos_testaveis2.values())

i = 0
for i in range(qt_jogo2):
    bancos_finais.append(bancos_testaveis2[0][i])
    
bancos_testaveis3 = pd.read_sql(f'SELECT ID_QUANTIDADE_JOGOS FROM PONTUACAO_BANCOS WHERE JOGO3 = {jogo3}',cnxn)
bancos_testaveis3 = bancos_testaveis3.to_dict()
bancos_testaveis3 = list(bancos_testaveis3.values())

i = 0
for i in range(qt_jogo3):
    bancos_finais.append(bancos_testaveis3[0][i])



def remove_repetidos(li):
    return sorted(OrderedDict((i, None) for i in li))

bancos_finais = remove_repetidos(bancos_finais)

[{0: 1, 1: 2}, {0: 9, 1: 17}, {0: 16, 1: 206}, {0: 16, 1: 206}]

In [60]:
# só criar o for
nome = pd.read_sql(f'SELECT NOME FROM PONTUACAO_BANCOS WHERE ID_QUANTIDADE_JOGOS = {bancos_finais[7]}',cnxn)
nome = nome.to_dict()
nome= list(nome.values())
print(nome[0][0])

LOTOMANIA1_5

# Funcionamento automático da data

# Inserindo todos os resultados de jogos zerados no banco TESTE
### Módulo pronto para testes

In [55]:
bancos = 0
for bancos in range(len(lista_bancos)):
    cursor = cnxn.cursor()
    cursor.execute(f'use {lista_bancos[bancos]}')
    zerados = pd.read_sql('SELECT * FROM ZERADOS', cnxn)
    tamanho = pd.read_sql('SELECT MAX(ID_RESULTADO) FROM ZERADOS',cnxn)
    tamanho = tamanho.to_dict()
    tamanho = list(tamanho.values())
    tamanho = tamanho[0][0]
    zerados = zerados.to_dict()
    zerados = list(zerados.values())
    cnxn.commit()
    cursor.close()
    cursor = cnxn.cursor()
    cursor.execute(f'use TESTE')
    for i in range(tamanho):
        cursor.execute(f'''INSERT INTO ZERADOS (NUMERO1,NUMERO2,NUMERO3,NUMERO4,NUMERO5,NUMERO6,
        NUMERO7,NUMERO8,NUMERO9,NUMERO10,NUMERO11,NUMERO12,NUMERO13,NUMERO14,NUMERO15,NUMERO16,
        NUMERO17,NUMERO18,NUMERO19,NUMERO20,NUMERO21,NUMERO22,NUMERO23,NUMERO24,NUMERO25,NUMERO26,
        NUMERO27,NUMERO28,NUMERO29,NUMERO30,NUMERO31,NUMERO32,NUMERO33,NUMERO34,NUMERO35,NUMERO36,
        NUMERO37,NUMERO38,NUMERO39,NUMERO40,NUMERO41,NUMERO42,NUMERO43,NUMERO44,NUMERO45,NUMERO46,
        NUMERO47,NUMERO48,NUMERO49,NUMERO50) values({zerados[0][i]},{zerados[1][i]},{zerados[2][i]},
        {zerados[3][i]},{zerados[4][i]},{zerados[5][i]},{zerados[6][i]},{zerados[7][i]},{zerados[8][i]},
        {zerados[9][i]},
        {zerados[10][i]},{zerados[11][i]},{zerados[12][i]},{zerados[13][i]},{zerados[14][i]},{zerados[15][i]},
        {zerados[16][i]},{zerados[17][i]},{zerados[18][i]},{zerados[19][i]},{zerados[20][i]},{zerados[21][i]},
        {zerados[22][i]},{zerados[23][i]},{zerados[24][i]},{zerados[25][i]},{zerados[26][i]},{zerados[27][i]},
        {zerados[28][i]},{zerados[29][i]},{zerados[30][i]},{zerados[31][i]},{zerados[32][i]},{zerados[33][i]},
        {zerados[34][i]},{zerados[35][i]},{zerados[36][i]},{zerados[37][i]},{zerados[38][i]},{zerados[39][i]},
        {zerados[40][i]},{zerados[41][i]},{zerados[42][i]},{zerados[43][i]},{zerados[44][i]},{zerados[45][i]},
        {zerados[46][i]},{zerados[47][i]},{zerados[48][i]},{zerados[49][i]})''')
    cnxn.commit()
    cursor.close()

# Criando um banco novo para cada concurso
### Módulo finalizado - Requer testes pós termino

In [3]:
from tqdm import tqdm
cursor.execute(f'use TESTE')
zerados = pd.read_sql('SELECT * FROM ZERADOS', cnxn)
tamanho = pd.read_sql('SELECT MAX(ID_RESULTADO) FROM ZERADOS',cnxn)
tamanho = tamanho.to_dict()
tamanho = list(tamanho.values())
tamanho = tamanho[0][0]
zerados = zerados.to_dict()
zerados = list(zerados.values())
cnxn.commit()
cursor.close()

cursor = cnxn.cursor()
cursor.execute(f'CREATE DATABASE {concurso}')
cnxn.commit()
cursor.close()

cursor = cnxn.cursor()
cursor.execute(f'use {concurso}')
cnxn.commit()
cursor.close()

cursor = cnxn.cursor()
cursor.execute(f'''CREATE TABLE ZERADOS(
  NUMERO1 TINYINT NOT NULL,
  NUMERO2 TINYINT NOT NULL,
  NUMERO3 TINYINT NOT NULL,
  NUMERO4 TINYINT NOT NULL,
  NUMERO5 TINYINT NOT NULL,
  NUMERO6 TINYINT NOT NULL,
  NUMERO7 TINYINT NOT NULL,
  NUMERO8 TINYINT NOT NULL,
  NUMERO9 TINYINT NOT NULL,
  NUMERO10 TINYINT NOT NULL,
  NUMERO11 TINYINT NOT NULL,
  NUMERO12 TINYINT NOT NULL,
  NUMERO13 TINYINT NOT NULL,
  NUMERO14 TINYINT NOT NULL,
  NUMERO15 TINYINT NOT NULL,
  NUMERO16 TINYINT NOT NULL,
  NUMERO17 TINYINT NOT NULL,
  NUMERO18 TINYINT NOT NULL,
  NUMERO19 TINYINT NOT NULL,
  NUMERO20 TINYINT NOT NULL,
  NUMERO21 TINYINT NOT NULL,
  NUMERO22 TINYINT NOT NULL,
  NUMERO23 TINYINT NOT NULL,
  NUMERO24 TINYINT NOT NULL,
  NUMERO25 TINYINT NOT NULL,
  NUMERO26 TINYINT NOT NULL,
  NUMERO27 TINYINT NOT NULL,
  NUMERO28 TINYINT NOT NULL,
  NUMERO29 TINYINT NOT NULL,
  NUMERO30 TINYINT NOT NULL,
  NUMERO31 TINYINT NOT NULL,
  NUMERO32 TINYINT NOT NULL,
  NUMERO33 TINYINT NOT NULL,
  NUMERO34 TINYINT NOT NULL,
  NUMERO35 TINYINT NOT NULL,
  NUMERO36 TINYINT NOT NULL,
  NUMERO37 TINYINT NOT NULL,
  NUMERO38 TINYINT NOT NULL,
  NUMERO39 TINYINT NOT NULL,
  NUMERO40 TINYINT NOT NULL,
  NUMERO41 TINYINT NOT NULL,
  NUMERO42 TINYINT NOT NULL,
  NUMERO43 TINYINT NOT NULL,
  NUMERO44 TINYINT NOT NULL,
  NUMERO45 TINYINT NOT NULL,
  NUMERO46 TINYINT NOT NULL,
  NUMERO47 TINYINT NOT NULL,
  NUMERO48 TINYINT NOT NULL,
  NUMERO49 TINYINT NOT NULL,
  NUMERO50 TINYINT NOT NULL,
  ID_RESULTADO INT IDENTITY PRIMARY KEY NOT NULL)''')
cnxn.commit()
cursor.close()

cursor = cnxn.cursor()
cursor.execute(f'use {concurso}')
i = 0
for i  in range(tamanho) :
    cursor.execute(f'''INSERT INTO ZERADOS (NUMERO1,NUMERO2,NUMERO3,NUMERO4,NUMERO5,NUMERO6,
    NUMERO7,NUMERO8,NUMERO9,NUMERO10,NUMERO11,NUMERO12,NUMERO13,NUMERO14,NUMERO15,NUMERO16,
    NUMERO17,NUMERO18,NUMERO19,NUMERO20,NUMERO21,NUMERO22,NUMERO23,NUMERO24,NUMERO25,NUMERO26,
    NUMERO27,NUMERO28,NUMERO29,NUMERO30,NUMERO31,NUMERO32,NUMERO33,NUMERO34,NUMERO35,NUMERO36,
    NUMERO37,NUMERO38,NUMERO39,NUMERO40,NUMERO41,NUMERO42,NUMERO43,NUMERO44,NUMERO45,NUMERO46,
    NUMERO47,NUMERO48,NUMERO49,NUMERO50) values({zerados[0][i]},{zerados[1][i]},{zerados[2][i]},
    {zerados[3][i]},{zerados[4][i]},{zerados[5][i]},{zerados[6][i]},{zerados[7][i]},{zerados[8][i]},
    {zerados[9][i]},
    {zerados[10][i]},{zerados[11][i]},{zerados[12][i]},{zerados[13][i]},{zerados[14][i]},{zerados[15][i]},
    {zerados[16][i]},{zerados[17][i]},{zerados[18][i]},{zerados[19][i]},{zerados[20][i]},{zerados[21][i]},
    {zerados[22][i]},{zerados[23][i]},{zerados[24][i]},{zerados[25][i]},{zerados[26][i]},{zerados[27][i]},
    {zerados[28][i]},{zerados[29][i]},{zerados[30][i]},{zerados[31][i]},{zerados[32][i]},{zerados[33][i]},
    {zerados[34][i]},{zerados[35][i]},{zerados[36][i]},{zerados[37][i]},{zerados[38][i]},{zerados[39][i]},
    {zerados[40][i]},{zerados[41][i]},{zerados[42][i]},{zerados[43][i]},{zerados[44][i]},{zerados[45][i]},
    {zerados[46][i]},{zerados[47][i]},{zerados[48][i]},{zerados[49][i]})''')
cnxn.commit()
cursor.close()

print('foi')

foi